<% content_for(:title, '離席理由編集')%>
<div class="container">
    <div class="reason-edit-form">
      <h1>離席理由編集画面</h1>

      <%= form_with model: [@user,@break_reason] do |form| %>
        <% if @break_reason.errors.any? %>
          <div style="color: red">
            <ul>
              <% @break_reason.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
          <div class="form-group">
            <%= form.label :reason, '離席理由' %>
            <%= form.text_field :reason, class: "form-control", value: @break_reason.reason %>
          </div>
          <div class='create-submit'>
            <%= form.submit '保存', class: "create-btn" %>
          </div>
      <% end %>
    </div>
</div>